<% @posts.each do |post| %>
    <div class='col-md'>
        <div class='post'>
            <h2 class= 'post-title'> <%= post.title %> </h2>
            <%= link_to 'View Post', post_path(post), class: 'btn-styled'%>
        </div>
    </div>
<% end %>